<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mango</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="row py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">Man</span>go</h1>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Man</span>go</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="index" class="nav-item nav-link">Inicio</a>
                    <a href="aprender" class="nav-item nav-link active">Aprender</a>
                </div>
                <a href="perfil" class="btn btn-lg btn-primary px-3 d-none d-lg-block">Mi Perfil</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Aprender Start -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Bloques</h4>
                <h1 class="display-4 m-0"><span class="text-primary">Temas</span> para Aprender</h1>
            </div>
            <div class="row pb-3">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/uno.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 1</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="aprender_tema">EMPEZAR</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/dos.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 2</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="aprender_tema">EMPEZAR</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/tres.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 3</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="aprender_tema">EMPEZAR</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/cuatro.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 4</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href=aprender_tema">EMPEZAR</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/cinco.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 5</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="aprender_tema">EMPEZAR</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="display-3 font-weight-normal text-secondary mb-3"> 
                            <img class="card-img-top" src="img/seis.png" style="width: 90px; height: 90px; align-items: center;"alt="">
                        </h3>
                        <h3 class="mb-3">Bloque 6</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="aprender_tema">EMPEZAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Aprender End -->

      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-white px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Man</span>go</h1>
                <p class="m-0"> Equipo de la clase Administración de Proyectos de Ingeniería de Software.</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <!--<div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4"></h5>
                        <div class="d-flex justify-content-start mt-4">
                        </div>
                    </div>-->
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4"></h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"></a>
                            <a class="text-white mb-2" href="#"></a>
                            <a class="text-white mb-2" href="#"></a>
                            <a class="text-white mb-2" href="#"></a>
                            <a class="text-white" href="#"></a>
                        </div>
                    </div>

                    <div class="col-md-8 mb-5">
                        <h5 class="text-primary mb-4">Equipo</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <p class="m-0"> Alejandro del Campo, Ana Elisa Estrada, Ana Zermeño, Estefanía Charles, Jaime Hisao, Sebastián Aguirre, Theresa Pfeiffer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="index">Mango</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>