<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col">
            <!--Aquí va el título (Bloque y tema)-->
        </div>
        <div class="col">
            <div class="row">
                <!-- Aquí va la pregunta-->
            </div>
            <div class="row">
                <!-- Aquí va la imagen de apoyo-->
            </div>
            <div class="row">
                <!-- Aquí van las respuestas-->
            </div>
        </div>
    </div>
</body>
</html>